html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
    font: inherit;
	vertical-align: baseline;
    scroll-behavior: smooth;
}

:root {
    font-size: 10pt;  
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
    margin: auto;
    height: 100%;
	line-height: 1;
    color: #ffffff;
    background-color: #262626;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#particles-js{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
}

/*HEADER STYLE*/
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    z-index: 99;
}
header ul li a{
    color: rgb(117, 89, 168);
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 40px;
}

/*HEADER STICKY STYLE*/
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #D9DEE1;
    z-index: 999;
}
section{
    padding: 60px 0;
    position: relative;
}

/*HOME SECTION STYLE*/
.home{
    color: #ffffff;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    background: url(/CVHTML/media/PSX_20200129_113514.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #262626;
    z-index: 9;
}
.home h1{
    color: rgb(117, 89, 168);
    font-size: 5.5rem;
    text-transform: uppercase;
    margin-top:700px;
}
.home h5{
    background: #262626;
    font-size: 2.5rem;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    letter-spacing: 1px;
    border-radius: 1px;
    color: #ffffff;
    margin-bottom: 40px;
}

/*SECTION TITLE STYLE*/
.section-title{
    text-align: center;
}
.section-title h2{
    display: inline-block;
    font-size: 2.8rem;
    border-bottom: 1px solid;
    text-transform: uppercase;
    padding: 0 0 10px;
}

/*ÜBER SECTION STYlE*/
.ueber-info{
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    z-index: 99;
}
.ueber-info p{
    line-height: 28px;
    font-size: 1.8rem;
    padding-bottom: 40px;
}
.ueber-info .downloadbtn{
    display: inline-block;
    padding: 15px 35px;
    background-color: rgb(117, 89, 168);
    border: 1px solid #ffffff30;
    border-radius: 50px;
    color: #ffffff;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 35px;
    position: relative;
    z-index: 11;
}
.timeline{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.timeline .col{
    width: 100%;
    margin: 5px;
    padding: 25px 5px;
    border: 1px solid #ffffff30;
    float: left;
}
.timeline span{
    font-size: 2.2rem;
}
.timeline h6{
    margin: 15px 0 0;
    font-size: 1.4rem;
    line-height: 44px;
    color: rgb(193, 169, 235);
}
.timeline h5{
    text-align: center;
    line-height: 30px;
    font-size: 1.4rem;
}

/*STUDIUM SECTION STYLE*/
.studium{
    width: 100%;
    padding: 50px 0;
    text-align: center;
    z-index: 99;
}
.studium .studium-info{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
}
.studium .col{
    width: 100%;
    text-align: center;
    margin: 5px;
}
.studium .col h3{
    margin-top: 10px;
    font-size: 2.8rem;
    text-align: center;
}
.studium .col span{
    color: rgb(193, 169, 235);
    text-align: center;
    font-size: 2.2rem;
}
.studium .col p{
    font-size: 1.4rem;
    line-height: 4rem;
    text-align: center;
    padding-bottom: 2rem;
}

/*INTERESSEN SECTION STYLE*/
.interessen{
    width: 60%;
    margin: auto;
    padding: 50px 0;
    z-index: 99;
}
.interessen-info{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
}
.interessen-info .col{
    float: left;
    width: 30%;
    margin: 1%;
}
.interessen-info .col img{
    max-width: 100%;
}
#music{
    position: relative;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*KONTAKT SECTION STYLE*/
.kontakt{
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
    z-index: 99;
}
.kontakt-info{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.kontakt-info .textField{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(193, 169, 235);
    box-sizing: border-box;
    background-color: transparent;
    padding: 15px 15px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 16px;
}
.kontakt-info .messageField{
    height: 200px;
}

.kontakt-info .submitButton{
    background-color: #D9DEE1;
    color: #000;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}

/*SOCIAL MEDIA STYLE*/
.socialmedia{
    display: flex;
    justify-content: center;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-right: 1rem;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: rgb(117, 89, 168);
  color: white;
}
.fa-twitter {
  background: rgb(117, 89, 168);
  color: white;
}   
.fa-linkedin {
  background: rgb(117, 89, 168);
  color: white;
}

/*RESPONSIVE*/
@media screen and (min-width: 1100px) {
.home{
    color: #ffffff;
    padding: 0;
    text-align: center;
    justify-content: center;
    background: url(/CVHTML/media/PSX_20200129_113514.jpg) no-repeat;
    background-position: center;
    background-color: #262626;
    z-index: 9;
    height: 850px;
    width: 100%;
    }
}

@media screen and (max-width: 700px) {
header ul li a{
    color: rgb(117, 89, 168);
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 15px;
    }
}















